@media (max-width: 425px) {
    body{
        height: 100vh;
        max-width: 100vw;
        background-image: url(./../images/bg-mobile.svg);
    }

    .header{
        width: 100%;      
    }

    .header .logo{
        height: 25px;
    }

    .main{
        flex-direction: column;
        padding: 0 0px;
        align-items: center;
    }

    .main .image-main{
        width: 270px;
        height: 200px;
        padding: 0 0;
    }

    .main .description-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main .description-container .title-description{
        font-size: 15px;
        text-align: center;
    }

    .main .description-container .description{
        font-size: 9px;
        text-align: center;
        padding: 0 0 20px 0;
    }

    .main .description-container .button-register{
        height: 30px;
        width: 130px;
        font-size: 9px;
    }

    .footer {
        text-align: center;
        padding: 20px 0;
    }

}